.button-backgroundless {
  color: var(--teal);
  text-decoration: none;
}

.button-backgroundless i {
  margin-right: 10px;
}

.button {
  background-color: var(--teal);
  color: var(--platinum);
}

.button i {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
  }
  .button-backgroundless {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
  }
  .button i {
    margin-right: 10px;
  }
}
