.button {
    padding: 8px 32px;
    margin-top: 16px;
    border-radius: 7.5px;
    transition: all ease 0.2s;
    text-decoration: none;
    color: var(--platinum);
}

.button-teal {
    background-color: var(--teal);
}

.button-indigo {
    background-color: var(--tropical-indigo);
}

.button p {
    line-height: 2.25;
}

.button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--teal);
}

.button-indigo:hover {
    box-shadow: 0 20px 80px -10px;
}

.button i {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        text-align: center;
    }
    .button-backgroundless {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        text-align: center;
    }
    .button i {
        margin-right: 10px;
    }
}
