.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    gap: 12px;
    border-radius: 7.5px;
    transition: all ease 0.2s;
    text-decoration: none;
    color: var(--platinum);
    background-color: var(--teal);
    font-size: 18px;
    font-weight: 700;
    padding: 0px 24px;
    width: 300px;
    text-align: center;
}

.button svg {
    fill: var(--platinum);
}

.button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--teal);
}

@media only screen and (max-width: 768px) {
    .button {
        width: 80%;
    }
}
