footer {
    background-color: var(--teal);
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    z-index: 2;
    color: var(--platinum);
    font-weight: 400;
}