@import url("navbar.css");
@import url("button.css");
@import url("sections.css");
@import url("hero-section.css");
@import url("stats-section.css");
@import url("admin-section.css");
@import url("footer.css");
@import url("https://fonts.googleapis.com/css?family=Lato:700|Lato:400");

/* Root styles */
:root {
    /* Theme */
    --teal: #008080;
    --teal-light: #8cacac;
    --tropical-indigo: #7f7eff;
    --tropical-indigo-light: #b1b1f1;
    --davys-gray: #4e4e4e;
    --timberwolf: #d3d3d3;
    --platinum: #e8e8e8;

    /* Font Colours */
    color: var(--davys-gray);
    background-color: var(--timberwolf);

    /* Font family */
    font-family: "Lato", sans-serif;
    font-weight: 400;

    /* Custom indigo color */
    --indigo: #3f51b5;

    /* Font scaling variables */
    --base-font-size: 16px;
    --h1-scale: 2.59;
    --h2-scale: 2.09;
    --h3-scale: 1.57;
    --h4-scale: 1.04;
    --p-scale: 1;

    /* Device-specific scaling factors */
    --scaling-factor: 1;
    --mobile-scale: 1.5;

    /* Minimum font sizes */
    --min-h1-font-size: 24px;
    --min-h2-font-size: 18px;
    --min-h3-font-size: 14px;
    --min-h4-font-size: 12px;
    --min-p-font-size: 10px;

    /* Hide scrollbars */
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
nav {
    grid-area: navbar;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: calc(
        max(
            var(--base-font-size) * var(--h1-scale) * var(--scaling-factor),
            var(--min-h1-font-size)
        )
    );
}

p,
ul,
li {
    font-weight: 400;
    font-size: calc(
        max(
            var(--base-font-size) * var(--p-scale) * var(--scaling-factor),
            var(--min-p-font-size)
        )
    );
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0px);
}
