:root {
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  --indigo: #3f51b5;

  --base-font-size: 16px;
  --h1-scale: 1.5;
  --h2-scale: 0.85;
  --h3-scale: 0.6;
  --h4-scale: 0.5;
  --p-scale: 0.7;
  --ul-scale: 1;

  /* Adjustments for different devices */
  --scaling-factor: 1;
  --tablet-scale: 1.1;
  --mobile-scale: 1.5;

  /* Minimum font sizes */
  --min-h1-font-size: 24px;
  --min-h2-font-size: 18px;
  --min-h3-font-size: 14px;
  --min-h4-font-size: 12px;
  --min-p-font-size: 10px;

  /* Hide scrollbars */
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Base styles */
* {
  box-sizing: border-box;
}

/* Headings */
h1 {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: calc(
    max(var(--base-font-size) * var(--h1-scale) * var(--scaling-factor), var(--min-h1-font-size))
  );
}

h2 {
  font-family: monospace;
  font-weight: bold;
  font-size: calc(
    max(var(--base-font-size) * var(--h2-scale) * var(--scaling-factor), var(--min-h2-font-size))
  );
}

h3 {
  font-family: monospace;
  font-weight: bold;
  margin-left: 1vw;
  font-size: calc(
    max(var(--base-font-size) * var(--h3-scale) * var(--scaling-factor), var(--min-h3-font-size))
  );
}

h4 {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: calc(
    max(var(--base-font-size) * var(--h4-scale) * var(--scaling-factor), var(--min-h4-font-size))
  );
}

/* Paragraphs and lists */
p,
ul {
  font-size: calc(
    max(var(--base-font-size) * var(--p-scale) * var(--scaling-factor), var(--min-p-font-size))
  );
}

.cardholder {
  margin-bottom: 1rem;
}

.cardholder p {
  text-align: center;
}

/* Navigation Bar */
.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  border-radius: 0px 0px 16px 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: var(--indigo);
}

.index-active {
  background-color: var(--indigo);
}

/* Device-specific scaling */
@media only screen and (min-width: 768px) {
  :root {
    --scaling-factor: var(--tablet-scale);
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --scaling-factor: var(--mobile-scale);
  }
}
