<!-- Top Navigation Menu -->
<h1>The Bible Channel</h1>
<div class="topnav" id="topnav">
  <a href="index.html"> <i class="fa fa-fw fa-home"></i> Home</a>
  <a href="admin.html"> <i class="fa fa-fw fa-user"></i> Admins</a>
  <a href="devlog.html"> <i class="fa fa-fw fa-code"></i> Devlog</a>
  <a href="javascript:void(0);" onclick="toggleDarkMode()">
    <i class="fa fa-moon-o"></i>
    Theme
  </a>
  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>
