/*Dark Mode */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .topnav {
  background-color: #444;
}

.dark-mode .topnav a {
  color: #fff;
}

.dark-mode .topnav a:hover {
  background-color: #555;
  color: #fff;
}

.dark-mode .w3-container {
  background-color: #333;
  color: #fff;
}

.dark-mode .w3-card {
  background-color: #444;
  color: #fff;
}

.dark-mode .w3-button {
  background-color: #555;
  color: #fff;
}

.dark-mode .w3-button:hover {
  background-color: #666;
  color: #fff;
}

.dark-mode hr {
  border-color: #333;
}

body {
  transition: background-color 0.3s ease-in-out;
}

.topnav {
  transition: background-color 0.3s ease-in-out;
}

.w3-container {
  transition: background-color 0.3s ease-in-out;
}

.w3-card {
  transition: background-color 0.3s ease-in-out;
}

.w3-button {
  transition: background-color 0.3s ease-in-out;
}